<mat-list *ngIf="products; else semRegistro" >
  
    <div class="image">
    <img mat-card-image src="assets/img/sem-foto.jpg" >
    </div>
  <mat-card class="card">
    <mat-card-actions class="actions">
      <mat-list-item class="list" >Nome: {{products.name}}</mat-list-item>
      <mat-list-item class="list" >Preço: {{products.price}}</mat-list-item>

      <button  mat-raised-button   color="accent" >
        <a class="edit"  routerLink="/products/update/{{ products.id }}">Editar</a>
      </button>
      <button  mat-raised-button   (click)="deleteProduct()" color="warn" >
        Deletar
      </button>

    </mat-card-actions>
  </mat-card>

  </mat-list>
  
  <ng-template #semRegistro>
    <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
  </ng-template>